#!/bin/bash

source /etc/profile
source $HOME/.alias_profile
source $HOME/.env_profile

eval "$(fnm env --use-on-cd --shell bash)"
eval "$(starship init bash)"
if command -v zoxide &>/dev/null; then
    eval "$(zoxide init bash)"
fi
